body{
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(rgb(104, 103, 101),rgba(216, 250, 153, 0.833));
  height: 1000px;
}
.inp1{
  padding: 6px 6px;
  /* margin-right: 10px; */
  font-size:15px ;
  background-color: antiquewhite;
  border:none;
  border-radius: 10px;

}
.inp2{
  padding: 6px;
  /* margin-right: 10px; */
  font-size:14px;
  background-color: antiquewhite;
  border:none;
  border-radius: 10px;
  
}
.b1{
  background-color: #008000;
  font-size: 15px;
  padding: 9px 30px;
  border: none;
  color: white;
  border-radius: 10px;
}
.bt2{
  background-color: #bc1212;
  font-size: 15px;
  padding: 9px 28px;
  border: none;
  color: white;
  align-items: center;
  border-radius: 10px;
}
.bt2:hover{
  opacity: 0.5;
  cursor: pointer;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0px 3px 20px #bc1212;
}
.b1:hover{
  opacity: 0.5;
  cursor: pointer;
}
.div2,.div1{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  /* background-color: azure; */
}
.div2{
  margin-bottom: 20px;
}
.c1{
  color: antiquewhite;
}